<div class="header center">Log In</div>

<form [formGroup]="loginForm">

  <mat-form-field>
    <input matInput type="text" id="login" placeholder="Login" autocomplete="off" formControlName="login" required>
    <mat-error *ngIf="loginForm.controls['login'].invalid">{{getMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput [type]="hide ? 'password' : 'text'" id="password" placeholder="Password" formControlName="password" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="loginForm.controls['password'].invalid">{{getMessage()}}</mat-error>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="login()" [disabled]="!loginForm.valid">LOG IN</button>
    <mat-error>{{error}}</mat-error>
  </div>

</form>
